body {
    padding-top: 10px;
    display: block;
    text-align: center;
  }
header {
    text-align: center;
  }
.thumbnail {
    float: left;
    width: 35px;
  }
.subheading {
    color: orange;
    font-family: sans-serif;
  }
#button {
    color: white;
    background-color: lightblue;
    border: 3px solid blue;
    border-radius: 25px;
  }
#menu-item {
    display: inline;
  }
